// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
// @import 'box-sizing';

$c-primary: #0047ff;
$c-white: #fff;
$c-red: #ff1900;
// $c-green: #00a42e;
$c-greylink: #888;
$c-black: #000;
// $c-pink: #ff008a;
// $c-blue: #001aff;
$c-darkblue: #2c5c9c;
$c-greenblue: #00614f;
$c-lightgreen: #88ffb8;
$c-softgrey: #f6f6f6;
// $c-yellow: #ffed00;
$c-greyblue: #cdd5ff;
$c-aqua: #00ffc9;
$m-whitespace: #fff;

$c-brand-primary: #3473b5;
$c-brand-white: #fff;
$c-pink: #e577aa;
$c-blue: #72bbe9;
$c-green: #7abe93;
$c-yellow: #e5b178;

$m-gutter: 0.5rem;

// ************** CSS RESETS **************
//

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  align-self: center;
  max-width: 100%;

}

// **************T-SHIRT CARD**************
//

// whole page
//

.section {
  padding: 1rem;
}

.container {
  max-width: 60rem;
  margin: auto;
}

// also whole page but grid
.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  // border-radius: 0.5rem;

}

// 1 tshirt grid item
.grid__item {
  // background: $c-greenblue;
  flex-basis: calc(100% / 3 - 2rem);
  margin: 1rem;

}

// shop card whole item 1/6
.shop-card {
  border: 0.3rem solid $c-brand-primary;
  text-align: center;
  }

// image of t-shirt
.tshirt-pic {
  padding: $m-gutter;
  // background: $c-greenblue;
}

// name of tee and description
.card-info {
  color: $c-brand-primary;
  text-align: center;
}

// name of tee only
.card-title {
  margin-bottom: 1rem;

}

// description of tee only
.card-description {
  margin-top: 0;
  font-size: 0.8rem;
}



// ************** BUTTONS **************
//

// .card-options {
//
// }

// all of the buttons (same as above)
.button-bar {
  display: flex;
  border-top: 0.3rem solid $c-brand-primary;

  > * {
    border: 0;
  }

  > * + * {
    border-left: 0.3rem solid $c-brand-primary;
  }

  &__button {
    flex-grow: 1;
    width: calc(100% / 5);
    height: 3rem;
    padding: 0.5rem 1rem;

    background: $c-white;
    color: $c-brand-primary;
    font-size: 1.5rem;
  }
}

.dropdown {
  position: relative;

  &__list {
    // display: none;
    position: absolute;
    top: 0;
    left: 50%;
    width: 3rem;
    margin: 0;
    transform: translate(-50%, -100%);
    border: 0.1rem solid $c-brand-primary;
    background: $c-white;



    > * + * {
      border-top: 0.2rem solid $c-brand-primary;
    }
  }
}

.fa-square {
  transform: translateY(0.4rem);
}

.dropdown__button {
  // display: none;
  // display: block;
  height: 2rem;

  :hover {
    // transform: scale(2);
    // transition: background 0.2s ease-in, color 0.2s ease-in;
    display: block;
    font-size: 3rem;
  }
}

.dropdown__button--pink {
  color: $c-pink;
}

.dropdown__button--green {
  color: $c-green;
}

.dropdown__button--blue {
  color: $c-blue;
}

.dropdown__button--yellow {
  color: $c-yellow;
}
